@model Web_FIA44_DataAccessLayer.Models.Article
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/css/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/css/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body class="bg-secondary">
	<div class="container justify-content-center">

        <h4 class="text-center p-3 mb-2 bg-secondary text-info">Neuen Artikel Hinzufügen</h4>


        <div class="d-flex justify-content-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Aid" class="control-label"></label>
                <input asp-for="Aid" class="form-control" />
                <span asp-validation-for="Aid" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Description" class="control-label text-info"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label text-info"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label text-info"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label text-info">
                    <input class="form-check-input" asp-for="IsHarzard" /> @Html.DisplayNameFor(model => model.IsHarzard)
                </label>
            </div>
            <div class="form-group">
					<input type="submit" value="Erstellen" class="btn btn-primary" />
                    <a class="btn btn-primary align-content-center" asp-action="Index">Zurück zur Übersicht</a>
            </div>
        </form>
    </div>
	</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
